{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Change My Password{% endblock %}

{% block app_content %}
<style>
body {
  background-image: url('static/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
    <h1 style="color:white;">Change My Password</h1>
    <div class="row" style="color:white;">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}