{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}{{title}}{% endblock %}

{% block app_content %}
<style>
body {
  background-image: url('static/bg3.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
    <h1 align="center">Welcome back {{username}}</h1> \
     <div style="text-align: center">
            </div>

<br><br><br><br><br><br>


<button type="button" class="btn btn-primary btn-lg btn-block" align="center" href="}}">Start Location Recognize</button>



{% endblock %}