{% extends "base.html" %}
{% block title %}Upload Image{% endblock %}

{% block content %}
<style>
body {
  background-image: url('static/bg3.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
</style>

<div class="container">
    <div class="row">
        <div class="col" align="center">
            {{message}}
            <form action={{url_for('imageUpload')}} method="POST" enctype="multipart/form-data">
                    <div class="file btn btn-lg btn-primary" align="center">
                        <input type="file"  name="image" id="image" oninput="filesize(this);">
                         <br>
            <br> <br>

                    <button type="submit" class="btn btn-primary btn-lg">Start</button>
                    </div>
            </form>
            <br>
            <br>


        </div>
    </div>

</div>

{% endblock %}

