{% extends "base.html" %}
{% block content %}
<style>
body {
  background-image: url('static/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>

       <body>
        <h1 align="center" style="color:white;" >Welcome to LOCOGNIZE</h1>
        <br>
        <h2 align="center" style="color:white;" >This is a intelligent picture location recognize application</h2>
        <br><br><br><br>
        <h5 align="center" style="color:white;" >Power by AWS Rekognition deep learning technology</h5>
    <ul>

    </ul>

    </body>
{% endblock %}