{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Login{% endblock %}

{% block app_content %}
<style>
body {
  background-image: url('static/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

</style>
    <div class="row" style="color:white;">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
            <li><a href="{{ url_for('reset_password') }}" style="color:white;">Forget your password?</a></li>
            <li><a href="{{ url_for('change_my_password') }}" style="color:white;">Change my password</a></li>
        </div>
    </div>


{% endblock %}