{% extends "base.html" %}
{% block app_content %}

<div align="center">
<img src={{picture}}  width="500" height="300">
</div>

<br>
    <table class="table table-bordered">

    <thead>
       <th>result</th>
       <th> Action </th>
    </thead>


    {% for element in recognition_result%}
        <tr>
            <td>{{ element }}</td>
            <td>
                <form action="{{ url_for('sendRequest',filename=filename, aQuery=element) }}" target="_blank">
                    <input type='submit' value='select' />
                </form>
            </td>
        </tr>
    {% endfor %}
  </table>
{% endblock %}